mixin main-slide
	.quiz__main-slide(style="background-image: url('./img/main-bg.jpg');")
		.quiz__main-slide-content
			.quiz__main-slide-header
				h1.quiz__main-slide-title Заголовок Квиза. Чтобы узнать вашу выгоду пройдите небольшой тест
				p.quiz__main-slide-desc Описание в несколько строчек, чтобы показать межстрочное расстояние подзаголовка
			button(type="button").quiz__main-slide-btn.quiz__btn.js-main-slide-btn Пройти тест
