mixin thanks
	.quiz__thanks
		.quiz__thanks-wrapper
			i.quiz__thanks-icon
			h2.quiz__thanks-title Спасибо за Ваш запрос.
			.quiz__thanks-text
				p Мы подготовим оптимальный план стеллажной системы и свяжемся с вами в ближайшее время. 
