include blocks/blocks

doctype html
html(lang="ru")
	+head
	body
		.wrapper
			form.quiz.owl-carousel
				+main-slide
				+slide-checkbox-img
				+slide-checkbox
				.quiz__slide
					.quiz__form
						.quiz__form-container
							span.quiz__form-upper-text Узнайте какая стеллажная система лучше всего подойдет именно вам.
							p.quiz__form-question Для каких помещений вам необходима стеллажная система?
							span#quiz-counter.quiz__form-counter
								b вопрос 1
								| / 0
							.qioz__form
								.quiz__form-row
									.quiz__form-item.quiz__form-item--half
										.quiz__form-row
											input(type="checkbox", id="checkbox50", data-type="checkbox", name="slide20" , data-req='req', value="Дома (например, на балконе)")
											label(for="checkbox50") Дома (например, на балконе)
											
									.quiz__form-item.quiz__form-item--half
										.quiz__form-row
											input(type="checkbox", id="checkbox130", data-type="checkbox", name="slide20" , data-req='req', value="Дома (например, на балконе)")
											label(for="checkbox130") Дома (например, на балконе)
											
								.quiz__form-row
									.quiz__form-item.quiz__form-item--half
										.quiz__form-row
											input(type="checkbox", id="checkbox60", data-type="checkbox", name="slide2" , data-req='req', value="Дома (например, на балконе)")
											label(for="checkbox60") Дома (например, на балконе)
											
									.quiz__form-item.quiz__form-item--half
										.quiz__form-row
											input(type="checkbox", id="checkbox70", data-type="checkbox", name="slide20" , data-req='req', value="Дома (например, на балконе)")
											label(for="checkbox70") Дома (например, на балконе)
											
								.quiz__form-row
									.quiz__form-item.quiz__form-item--half
										.quiz__form-row
											input(type="checkbox", id="checkbox120", data-type="checkbox", name="slide20" , data-req='req', value="Дома (например, на балконе)")
											label(for="checkbox120") Дома (например, на балконе)
											
									.quiz__form-item.quiz__form-item--half
										.quiz__form-row
											input(type="checkbox", id="checkbox80", data-type="checkbox", name="slide20" , data-req='req', value="Дома (например, на балконе)")
											label(for="checkbox80") Дома (например, на балконе)
											
								.quiz__form-row
									.quiz__form-item.quiz__form-item--half
										.quiz__form-row
											input(type="checkbox", id="checkbox300", data-type="checkbox", name="slide20" , data-req='req', value="Дома (например, на балконе)")
											label(for="checkbox300") Дома (например, на балконе)
											
									.quiz__form-item.quiz__form-item--half
										.quiz__form-row
												input(type="checkbox", id="checkbox90", data-type="checkbox", name="slide20" , data-req='req', value="Дома (например, на балконе)")
												label(for="checkbox90") Дома (например, на балконе)
											
								.quiz__form-row
									.quiz__form-item.quiz__form-item--half
										.quiz__form-row
											input(type="checkbox", id="checkbox100", data-type="checkbox", name="slide20" , data-req='req', value="Дома (например, на балконе)")
											label(for="checkbox100") Дома (например, на балконе)
											
									.quiz__form-item.quiz__form-item--half
										.quiz__form-row
											input(type="checkbox", id="checkbox110", data-type="checkbox", name="slide20" , data-req='req', value="Дома (например, на балконе)")
											label(for="checkbox110") Дома (например, на балконе)
								
						.quiz__form-navigation
							.quiz__form-btns
								button(type="button").quiz__btn.quiz__btn--prev.js-quiz-prev-btn Назад
								button(type="button").quiz__btn.quiz__btn--next.js-quiz-next-btn Далее
								
					.quiz__comment
						.quiz__comment-author
							.quiz__comment-right
								span.quiz__comment-title Совет 
						blockquote.quiz__comment-text Геодезическая линия, в первом приближении, актаульна как никогда. Селекция бренда достижимо в разумные сроки. Как отмечает Майкл Мескон, ряд Тейлора позитивно программирует продвигаемый максимум. Уравнение в частных производных, безусловно, недостаточно порождает разрыв функции.
				+slide-radios
				+last-slide								
		script(src='./js/script.min.js')
