include standart/__head
include slides/__main-slide
include slides/__slide-checkbox-img
include slides/__slide-checkbox
include slides/__slide-radios
include slides/__last-slide
include slides/__thanks
