include standart/__head
include standart/__header
include standart/__header-menu
//- include standart/__footer
//- include standart/__breadcrumbs
//- include standart/__paginator
//- include standart/__reviews-client
//- include index/__promo
//- include index/__category
//- include index/__about
//- include index/__history
//- include index/__partners
//- include index/__news
