mixin footer
	footer.footer&attributes(attributes)
	
		script(src='./js/ext/owl.carousel.min.js')
		script(src='./js/ext/jquery.inputmask.bundle.min.js')
		script(src='./js/ext/jquery.formstyler.min.js')
		script(src='./js/main.js')
