mixin head
	head&attributes(attributes)
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='cmsmagazine', content='ce1385ee9c5324e11e35e8fa356ffc08')
		meta(name='cmsmagazine', content='6a5de8b480a9f417d465ec3935efb0fd')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		title ИнКо
		link(rel="stylesheet", href="./css/styles.css")
		script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')
		script(src='./js/ext/jquery.min.js')
		script(type='text/javascript').
			if ($(window).width() <= 480) {
				$('meta[name="viewport"]').attr('content', 'width=480');
			}
