html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

*,
*::after,
*::before {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

body,
html {
	width: 100%;
	height: 100%;
}

body {
	position: relative;

	overflow-x: hidden;

	background-color: #f5f6f8;

	font-family: 'Avenir Next Cyr Regular', Arial, sans-serif;
	font-size: 0;
}

.jq-radio {
  display: inline-block;
  vertical-align: sub;
	width: 16px;
	height: 16px;
	margin-right: 11px;

	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	        transition: all 0.2s ease-in-out;

	border: 1px solid #dfdfdf;
	border-radius: 50%;
	&:before {
		position: absolute;
		top: 50%;
		left: 50%;

		width: 8px;
		height: 8px;

		content: '';
		-webkit-transition: all 0.2s ease-in-out;
		        transition: all 0.2s ease-in-out;
		transform: translate(-50%, -50%);

		border-radius: 50%;
		background-color: #ffffff;
	}
}

.checked {
	box-shadow: 0 0 7.36px 0.64px rgba(0, 0, 0, 0.15);
	&:before {
		position: absolute;
		top: 50%;
		left: 50%;

		width: 8px;
		height: 8px;

		content: '';
		transform: translate(-50%, -50%);

		border-radius: 50%;
		background-color: $main-bg-content;
	}
}

.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;

	width: 1170px;
	height: 485px;
	margin: 0 auto;

	transform: translate(-50%, -50%);
}

.quiz {
	max-width: 1170px;
	height: 100%;
	max-height: 485px;

	&--first-slide,
	&--second-slide,
  &--third-slide,
  &--fifth-slide {
		position: relative;

		display: flex;

		height: 100%;
		margin-bottom: 50px;

		background-color: #ffffff;

		justify-content: space-between;
	}

	&-form {
		display: flex;
		flex-direction: column;

    justify-content: space-between;

		width: 870px;
		padding: 58px;
		padding-right: 30px;
    padding-bottom: 40px;

		border: 1px solid #e8e8e8;
		border-right: none;
	}

  &-img-radios {
    display: flex;

    &-column {
      display: flex;
      flex-direction: row;
      width: 50%;
    }

    &-row {
      display: flex;
    }

    &-item {
      margin-right: 26px;
      display: flex;
      flex-direction: row;
  		label {
  			color: $form-text-color;
  			font-size: 18px;
  			line-height: 26px;
  		}

      input[type="text"] {
        width: 779px;
        border: 1px solid #e8e8e8;
        font-family: $regular;
        color: $form-text-color;
        font-size: 18px;
        line-height: 26px;
        padding: 20px;
       }

       label {
         display: flex;
         flex-direction: column-reverse;
         color: $form-text-color;
         font-size: 18px;
         line-height: 26px;
         cursor: pointer;
         margin-bottom: -4px;

         img {
           margin-left: -24px;
           cursor: pointer;
           margin-bottom: 10px;
           pointer-events: none;
         }

       }

       .jq-radio {
   				display: flex;
   				align-self: flex-end;
   			}
       .text-label {
         position: absolute;
         top: 50%;
         left: 20px;
         transform: translate(0, -50%);
       }
  	}
  }

  &-input {
    &-item {
      position: relative;
      input[type="text"] {
        width: 779px;
        border: 1px solid #e8e8e8;
        font-family: $regular;
        color: $form-text-color;
        font-size: 18px;
        line-height: 26px;
        padding: 20px;
       }

       label {
         color: $form-text-color;
         font-size: 18px;
         line-height: 26px;
       }

       .text-label {
         position: absolute;
         top: 50%;
         left: 20px;
         transform: translate(0, -50%);
       }
    }
  }

  &-radios {
    display: flex;

    &-column {
      display: flex;
      flex-direction: column;
      width: 50%;
    }

    &-row {
      display: flex;
    }

    &-item {
  		margin-bottom: 21px;

      label {
        color: $form-text-color;
        font-size: 18px;
        line-height: 26px;
      }
  	}
  }

	&-btns {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
		span {
			font-family: $medium;
			font-size: 20px;
			line-height: 26px;
			color: #1f1c1c;
		}
	}

	&-progress {
		progress[value] {
			position: relative;

			width: 100%;
			height: 10px;
			margin: 0 0 1.5em;

			color: royalblue;
			border: none;

			background-color: $progress-bg;

			appearance: none;
		}

		progress[value]::-webkit-progress-bar {

			background-color: $progress-bg;
		}

		progress[value]::-webkit-progress-value {
			position: relative;

			animation: animate-stripes 5s linear infinite;


			background-size: 35px 20px, 100% 100%, 100% 100%;
		}

		@keyframes animate-stripes {
			100% {
				background-position: -100px 0;
			}
		}

		rogress[value]::-webkit-progress-value:after {
			position: absolute;
			top: 7px;
			right: 7px;

			width: 5px;
			height: 5px;

			content: '';

			border-radius: 100%;
			background-color: white;
		}

		progress[value]::-moz-progress-bar {
			border-radius: 3px;
			background-image: -moz-linear-gradient( 135deg,
			transparent,
			transparent 33%,
			rgba(0,0,0,0.1) 33%,
			rgba(0,0,0,0.1) 66%,
			transparent 66%),
			-moz-linear-gradient( top,
			rgba(255, 255, 255, 0.25),
			rgba(0,0,0,0.2)),
			-moz-linear-gradient(left, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 0%, rgba(219,219,219,1) 100%);
			background-size: 35px 20px, 100% 100%, 100% 100%;

		}

		progress::-webkit-progress-value {
			background-image: -webkit-linear-gradient( 135deg,
			transparent,
			transparent 33%,
			rgba(0,0,0,0.1) 33%,
			rgba(0,0,0,0.1) 66%,
			transparent 66%),
			-webkit-linear-gradient( top,
			rgba(255, 255, 255, 0.25),
			rgba(0,0,0,0.2)),
			-webkit-linear-gradient(left, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 0%, rgba(219,219,219,1) 100%);
		}

		progress::-moz-progress-bar{
			background-image: -moz-linear-gradient( 135deg,
			transparent,
			transparent 33%,
			rgba(0,0,0,0.1) 33%,
			rgba(0,0,0,0.1) 66%,
			transparent 66%),
			-moz-linear-gradient( top,
			rgba(255, 255, 255, 0.25),
			rgba(0,0,0,0.2)),
			-moz-linear-gradient(left, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 0%, rgba(219,219,219,1) 100%);
		}
	}

	&-question {
		color: $form-text-color;

		font-family: $medium;
		font-size: 32px;
		line-height: 40px;
		margin: 0;
		margin-bottom: 33px;
	}

	&-comment {
		width: 300px;
		padding: 30px 40px;

		background-color: $main-bg-content;

		img {
			margin-bottom: 25px;

			border-radius: 50%;
		}

		&__name {
			display: block;

			color: $main-font-color;

			font-size: 16px;
			font-style: $medium;
			line-height: 26px;
		}

		&__post {
			display: block;

			color: $main-font-color;

			font-size: 16px;
			line-height: 26px;
		}

		&__text {
			display: block;

			margin: 0;

			color: $main-font-color;

			font-size: 14px;
			line-height: 20px;
		}
	}

  &--first-slide,
  &--second-slide,
  &--third-slide,
  &--fifth-slide {
    .quiz-btn--prev {
      font-family: $regular;
      border: 2px solid #f4f4f6;
      color: $form-text-color;
    }

    .quiz-btn--next {
      font-family: $regular;
      border: 2px solid $main-bg-content;
      background-color: $main-bg-content;
      color: $main-font-color;
    }
  }

}

.main-slide {
	position: relative;

	display: flex;

	height: 100%;
	margin-bottom: 50px;

	background-image: url("../img/main-bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
  background-size: cover;

	justify-content: flex-end;

	&::before {
		position: absolute;
		right: 120px;
		bottom: 170px;

		width: 96px;
		height: 94px;

		content: '';
		-webkit-transition: all 3s ease-in-out;
		        transition: all 3s ease-in-out;
		transform: scale(0.5) rotate(90deg);

		opacity: 0.4;
		background-image: url("../img/present.png");
	}

	&:hover {
		&::before {
			transform: scale(0.5) rotate(360deg);
		}
	}

	&-content {
		display: flex;
		flex-direction: column;

		width: 801px;
		padding: 60px;
		padding-left: 57px;

		background-color: $main-bg-content;
	}

	.bg-white {
		background-color: $white-alpha;
	}

	&-header {
		position: relative;

		margin-bottom: 35px;
		p {
			margin: 0;

			color: $main-font-color;

			font-family: $medium;
			font-size: 24px;
			line-height: 28px;
			b {
				letter-spacing: 2px;
				text-transform: uppercase;

				font-family: $bold;
				font-size: 26px;
				line-height: 30px;
				line-height: 38px;

				padding-left: 7px;
				margin-left: 7px;
				padding-right: 10px;
			}
		}
		&::after {
			position: absolute;
			bottom: -24px;
			left: 0;

			width: 100%;
			height: 2px;

			content: '';

			background-color: $white-alpha;
		}
	}

	&__title {
		margin: 0;
		margin-bottom: 17px;

		color: $main-font-color;

		font-family: $bold;
		font-size: 46.67px;
		line-height: 51.86px;
	}

	&-list {
		display: flex;
		flex-direction: column;

		margin-bottom: 22px;
		padding: 0;

		list-style: none;
	}

	&-item {
		&:nth-last-child(1) {
			margin-bottom: 0;
		}

		span {
			padding: 5px 10px;
			padding-left: 12px;

			color: $main-font-color;

			font-family: $medium;
			font-size: 20px;
			line-height: 42px;
		}
	}

	&-main {
		position: relative;
		&::before {
			position: absolute;
			right: 0;
			bottom: 0;

			width: 96px;
			height: 94px;

			content: '';
			-webkit-transition: all 2s ease-in-out;
			        transition: all 2s ease-in-out;

			opacity: 0.4;
			background-image: url("../img/present.png");
		}

		&::after {
			position: absolute;
			right: 122px;
			bottom: 50px;

			width: 96px;
			height: 94px;

			content: '';
			-webkit-transition: all 2s ease-in-out;
			        transition: all 2s ease-in-out;
			transform: scale(0.7) rotate(165deg);

			opacity: 0.4;
			background-image: url("../img/present.png");
		}

		&:hover {
			&::before {
				transform: rotate(360deg);
			}

			&::after {
				transform: scale(0.7) rotate(360deg);
			}
		}
	}
}

.btn {
	display: block;

	padding: 12px 34px;

	cursor: pointer;

	color: $btn-text-color;
	border: none;
	border-radius: 27px;
	background-color: #ffffff;

	font-family: $demi;
	font-size: 24px;
	line-height: 26px;
	margin-left: 4px;
}
