@media only screen and (max-width: 1300px) {
	.wrapper {
		width: 100vw;
	}
	.quiz {
		width: 100%;

		&__form-elements {
			&--images {
				.quiz__form-row {
					width: 50%;
				}
			}
		}

		&__form-item {
			margin-right: 10px;
		}

		&__select-slide {
			flex-direction: column;

			width: auto;
		}

		&__select-slide-right {
			width: auto;

			background-color: #ffffff;
		}

		&__select-slide-row {
			flex-direction: column;

			align-items: flex-start;
		}

		&__select-slide-cont {
			align-self: flex-start;
		}
	}
}

@media only screen and (max-width: 1200px) {
	.quiz {
		&__form-elements {
			&--images {
				margin-bottom: 20px;
				.quiz__form-row {
					width: 100%;
				}
			}
		}
		&__form {
			width: auto;
			margin-right: 0;
		}
		&__comment {
			display: none;
		}
	}
}

@media only screen and (max-width: 780px) {
	.quiz {
		&__main-slide-title {
			font-size: 32px;
			line-height: 40px;
		}

		&__slide,
		&__main-slide,
		&__last-slide {
			padding: 15px;
		}

		&__main-slide {
			background-size: cover;
		}

		&__form-img {
			display: none!important;
		}

		&__form-row {
			flex-direction: column;

			margin-bottom: 0;

			flex-wrap: wrap;
		}

		&__form-elements {
			&--images {
				flex-direction: column;
			}
		}

		&__form-item {
			margin-bottom: 20px;
			&--half {
				width: auto;
			}
		}

		&__contacts-form-row {
			flex-direction: column;

			align-items: center;
		}

		&__contacts-form-elem {
			width: 90%;
			margin-right: 0;
			margin-bottom: 20px;
		}

		&__select-slide-left,
		&__select-slide-right {
			padding: 25px;
		}

		&__select-slide-title {
			font-size: 28px;
			line-height: 34px;
		}

		.jq-selectbox__select {
			width: 260px;
		}
	}
}
