$main-bg-content: rgba(134,196,255,1);
$regular: 'Avenir Next Cyr Regular', sans-serif;
$medium: 'Avenir Next Cyr Medium', sans-serif;
$bold:  'Avenir Next Cyr Bold', sans-serif;
$demi: 'Avenir Next Cyr Demi', sans-serif;
$main-font-color: #ffffff;
$white-alpha: rgba(255,255,255,0.2);
$btn-text-color: #86c4ff;
$form-text-color: #1f1c1c;
$progress-bg: #eeeeee;
